<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>BaseURL</key>
<string>http://54.197.182.168:8443/api</string>
<key>ClientID</key>
<string>a8a543aa-8102-483c-b690-5e2e53e20dc1</string>
<key>ClientSecret</key>
<string>4ndA2jNycvalqu0yxBHchNuR17NfW4ZCQH2KungAJjI</string>
</dict>
</plist>
